{% extends "base.html" %}


{% block extrahead %}
    {% if wip %}
        <script>
            function check_result(){
                require(["dojo/request"], function(request){
                    request("{{ url_for('progress', sha256=submissions[0].file.sha256) }}",{handleAs: "json"}).then(
                        function(data){
                            myProgressBar.set({value: data['results'], maximum:data['totals']});
                            console.log(data['results'] + " / " + data['totals']);
                            if (data['done'] == true){
                                console.log("Submission Analysis done, reloading");
                                location.reload();
                            }else{
                                console.log("Not done yet");
                            }
                        },
                        function(error){
                            console.log("An error occurred: " + error);
                        }
                    );
                });
            }
            var timer = setInterval(check_result, 5000);
        </script>
    {% endif %}
    <script>
        // Set tab color based on result

        require(["dojo/query","dijit/registry","dojo/dom-style","dojo/ready","dojo/domReady!"], function(query,registry,style, ready){
            ready(1000,function(){
                query(".threat_level_100").forEach(function(node){
                    //console.log(node);
                    t_obj = registry.byNode(node);
                    //console.log(t_obj);
                    t_bt_obj = t_obj.controlButton;
                    dojo.style(t_bt_obj.domNode, {color:"red",});
                });
                query(".threat_level_0").forEach(function(node){
                    //console.log(node);
                    t_obj = registry.byNode(node);
                    //console.log(t_obj);
                    t_bt_obj = t_obj.controlButton;
                    dojo.style(t_bt_obj.domNode, {color:"green"});
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
{% for submission in submissions %}
    <div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%;">
     <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">{{submission.name}} -- {{submission.file.type}} -- {{submission.date}} -- sha1 : {{submission.file.sha1}} -- md5 : {{submission.file.md5}} </div>
     <div data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'center'" >
        {% for report in submission.reports %}
            <div data-dojo-type="dijit/layout/ContentPane" title="{{report.module}}" class="threat_level_{{report.threat_level}}">
                {{report.short}}
                {% for section in report.sections %}
                    <div class='reportsection' data-dojo-type="dijit/layout/ContentPane">
            
                    {% if section.type=='json' %}
                        <ul> 
                        {% for key, value in section.value_dict.items() recursive %}
                            <li>
                                {% if value is not mapping %}
                                {{ key }}<ul><li>
                                {{ value }}</li></ul>
                                {% else %}
                                {{ key }}
                                <ul>{{ loop(value.items()) }}</ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    
                    {% elif section.type=='img' %}
                        <img src="/{{section.value_dict['path'] }}">
                    {% elif section.type=='text' %}
                        {{section.value|nl2br}}
                    {% elif section.type=='pprint' %}
                        {{section.value|pprint}}
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
     </div>
     <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'">
        {% if wip %}<div data-dojo-type="dijit/ProgressBar" style="width:300px" data-dojo-id="myProgressBar" id="downloadProgress" data-dojo-props="maximum:10"></div>{% endif %}
     </div>
</div>
{% endfor %}

{% endblock %}
